<div align="center">
    <% if @users_ingredients.empty? %>
        <p>Looks like you don't have any items in your pantry.</p>
    <% else %>
        <table>
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Calories</th>
                <th>Edit Item</th>
                <th>Delete Item</th>
            </tr>
            <% @users_ingredients.each do |users_ingredient| %>
                <% ingredient = Ingredient.find(users_ingredient.ingredient_id) %>
                <tr>
                    <td align="center"><a href="/ingredients/<%=ingredient.id%>"><%=ingredient.name%></a></td>
                    <td align="center"><%=users_ingredient.quantity%></td>
                    <td align="center"><%=ingredient.calories%></td>
                    <td>
                        <a href="/ingredients/<%=ingredient.id%>/edit">Edit</a>
                    </td>
                    <td>    
                        <form method="post" action="/ingredients/<%= ingredient.id %>/remove">
                            <input id="hidden" type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="Remove from Pantry">
                        </form>
                    </td>
                </tr>
                
            <% end %>
        </table>
    <%end%>
    <br><br><br>
    <a href="ingredients/new">Create New Ingredient</a> | <a href="/ingredients/browse">Browse all Ingredients</a> | <a href="/recipes/search_with_pantry">Search Recipes you can make</a>
    <br><br><a href="/">Return to User Page</a> | <a href="/logout">Log Out</a>
</div>